@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');


body {
    background-color: lightskyblue;
    text-align: center;
    background-image: url(./Assets/background.jpg);
    background-repeat: no-repeat;
    /* background-size: 2010px; */
    background-size: cover;

}

.spacing-box {
    text-align: center;
    padding-bottom: 10%;
    color:white;
}

.person_name {
    font-family: 'Inter', sans-serif;
    font-size: 50px;
    padding-bottom: 20px;
    transition: font-size .8s ease;
}

.person_name:hover
{
    font-size: 60px; line-height: 58px;
}

h2 {
    font-family: 'Inter', sans-serif;
}

.name, .occupation, .tech-icons {
    text-align: center;
    color: white;
}

.github:hover {
    color: #ffff00;
}

.linkedin:hover {
    color: #2867B2;
}

.email:hover {
    color: #d71b0a;
}

.twitter:hover {
    color: #1DA1F2;
}

.occupation {
    padding-bottom: 20px;
}

.tech-icons {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(4, 100px);
}

.bi {
    font-size: 40px;
}